<%-include("header");-%>
<% if (currentUser) { %>
    <h2>Hello <%=currentUser.username%></h2>
    <% if (!currentUser.membership) { %>
     <a href="/join_club" class="smalllink">Psst...click here to join the secret club</a>
    <% } %>
    <% if (currentUser.membership && !currentUser.admin) { %>
        <a href="/set_admin" class="smalllink">Or maybe become an admin?</a>
       <% } %>
    <a href="/log_out">Logout</a>
<% } else { %>
    <div class="buttons">
        <h2>Welcome!</h2>
        <a href="/log_in"><button class="linkbutton">Click here to log in</button></a>
        <i class="or-divider">or</i>
        <a href="/sign_up"><button class="linkbutton">Click here to sign up</button></a>
    </div>
    <%}%>

<div class="messages">
    <% messages.forEach(message => { %>
     <div class="message">
        <% if (currentUser && currentUser.membership) { %>
         <p>Author: <%= message.user.username %>, <%= message.formattedDate %></p>
        <% } %>
        <h4>Title: <%= message.title %></h4>
        <p><%= message.text %></p>
        <% if (currentUser && currentUser.admin) { %>
            <form action="delete_message/<%= message.id %>" method="post">
                <input type="submit" value="Delete" class="deletebutton">
            </form>
        <% } %>
     </div>
    <% }) %>
</div>
<% if (currentUser) { %>
    <form action="/send_message" method="post" class="messageform">
        <input type="text" name="title" id="" class="textinput" placeholder="title">
        <input type="submit" class="linkbutton" value="Send">
        <input type="text" name="message" id="" placeholder="message" class="messageinput textinput" >
    </form>
<% } %>
<%-include("footer");-%>